#pragma once

#define KEY_PRESET_1_NAME "Qx"
#define KEY_PRESET_1_TEXT "your_secret_text_1"

#define KEY_PRESET_2_NAME "P2"
#define KEY_PRESET_2_TEXT "your_secret_text_2"

#define KEY_PRESET_3_NAME "P3"
#define KEY_PRESET_3_TEXT "your_secret_text_3"
